nav{
	max-width: 900px;
	margin: auto;
	background-color: transparent;
	font-size: 20px;
	margin-top: 5px;
	font-family: Roboto,sans-serif
}
.menu-horizontal{
	list-style: none;
	display: flex;
}
.menu-horizontal > li > a{
	display: block;
	padding: 15px 50px;
	color: white;
	text-decoration: none;
}
.menu-horizontal > li:hover{
	background-color: red;
}
.menu-vertical{
	position: absolute;
	display: none;
	list-style: none;
	width: 200px;
	background-color: rgba(0, 0, 0, .5);
}
.menu-horizontal li:hover .menu-vertical{
	display: block;
}
.menu-vertical li:hover{
	background-color: black;
}

.menu-vertical li a{
	display: block;
	color: white;
	text-decoration: none;
	padding: 15px 15px 15px 20px;
}

#html{
	margin: auto;
	padding: 20px;
	max-width: 900px;
	background: white;
}
.lista{
	margin-left: 1px;
}
.lista-r{
	margin-left: -770px;
}
.lista-m{
	margin-left: 760px;
}
.listas{
	margin-left: 815px ;
}
